@media screen and (max-width:768px){
	#hero{
		h1{
			font-size: 1.5em;
			padding: 8px;
		}
		.navbar-default{
			padding-top:10px;	
				.navbar-header{
					background-color:transparent;
				}
				.navbar-collapse{
					background-color:#ddd;
				}
		}
		.text-hero{
		  	p{
			  	font-size: 1.3em;
			}
		  	
		}
	}
	#linea{
		&:before{
		    left: 10px;
		}
	}
	

}
	